<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Consultorio medico</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="especialidades">Especialidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="profesionales">Profesionales</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="turnos" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Turnos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="buscarTurno">Buscar</a></li>
                        <li><a class="dropdown-item" href="turnos">Consultar</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container my-5">
    <div id="error2" th:if="${errorMod}">
        <div class="alert alert-danger" role="alert" th:text="${errorMod}"></div>
    </div>
    <script>
        let error2 = document.getElementById("error2");
        if(error2) {
            setTimeout(function() {
                error2.style.display = "none";
            }, 2000);
        }
    </script>
    <div class="container my-5">
        <div id="error3" th:if="${errorBorrar}">
            <div class="alert alert-danger" role="alert" th:text="${errorBorrar}"></div>
        </div>
        <script>
            let error3 = document.getElementById("error3");
            if(error3) {
                setTimeout(function() {
                    error3.style.display = "none";
                }, 2000);
            }
        </script>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Consultorio</th>
            <th scope="col">Paciente</th>
            <th scope="col">Profesional</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p :${turno}">
            <td th:text ="${p.id}"></td>
            <td th:text ="${p.consultorio}"></td>
            <td th:text ="${p.paciente.id}"></td>
            <td th:text ="${p.profesional.id}"></td>
            <td th:text ="${p.profesional.especialidad.id}"></td>
            <td th:text ="${p.fecha_hora_turno}"></td>
            <td><a class="btn btn-danger btn-sm" th:href="@{/borrarTurno/{id}(id=${p.id})}">Borrar</a>
            <a class="btn btn-secondary btn-sm" th:href="@{/editarTurno/{id}(id=${p.id})}">Modificar</a></td>
        </tr>
        </tbody>
    </table>

    <div id="error" th:if="${error}" class="alert alert-danger alert-dismissible fade show p-2" role="alert" style="font-size: .9rem;">
        <strong>Error:</strong>No se pudo guardar el turno, ingrese una fecha y horario valido.
    </div>
    <script>
        let error = document.getElementById("error");
        if(error) {
            setTimeout(function() {
                error.style.display = "none";
            }, 2000);
        }
    </script>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>